/* Variables */
* {
    --height: 2rem;
    --primary-color: #090a0d;
    --secondary-color: #181818;
}

/* Html y body */
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Plantilla  para el iframe*/
.my-template-phone {
    background-color: var(--primary-color);
    border-width: 8px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 44px;
    margin: auto;
    overflow: hidden;
    transition: all 0.5s ease;
    width: 344px;
    height: 775px;
    max-height: 775px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

/* Estilos para el iframe  */
iframe {
    background-color: var(--primary-color);
    border: 0;
    width: 100%;
    height: calc(100% - (var(--height)));
}

/* Footer */
.my-footer {
    text-align: center;
    margin: 8px 0;
}

/* Toolbar header android */
.toolbar-device {
    display: flex;
    background-color: var(--primary-color);
    height: var(--height);
    padding: 0 var(--height) 0 var(--height);
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}